name: Snyk Open Source Test

on:
  workflow_dispatch:
  workflow_call:
  push:
    branches:
      - 'main'

jobs:
  open-source-test:
    runs-on: ubuntu-latest
    steps:
        - name: Checkout Repo
          uses: actions/checkout@master

        - name: Setup Python
          uses: actions/setup-python@v5
          with:
            python-version: '3.9'

        - name: Install Python Dependencies
          run: pip install -r sample-python/requirements.txt

        - name: Setup JDK 17
          uses: actions/setup-java@v4
          with:
            java-version: '17'
            distribution: 'temurin'
            architecture: x64
            cache: 'maven'

        - name: Maven verify
          run: mvn --batch-mode --update-snapshots verify

        - name: Install Maven dependencies
          run: mvn clean install

        - uses: snyk/actions/setup@master
        - name: Test Open Source Dependencies with Snyk
          run: snyk test --all-projects
          env:
            SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}